
body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f3f3f3;
}

header {
  background-color: #232f3e;
  color: white;

}
.headersuperior{
    display: flex;
  align-items: center;
  padding: 10px 20px;
  justify-content: space-between;
}

.logo img {
  height: 40px;
}

.search-bar {
  flex: 1;
  margin: 0 20px;
  display: flex;
}

.search-bar input {
  flex: 1;
  padding: 8px;
  border: none;
  border-radius: 4px 0 0 4px;
}

.search-bar button {
  padding: 8px 12px;
  border: none;
  background-color: #febd69;
  border-radius: 0 4px 4px 0;
  cursor: pointer;
}

.cart {
  font-size: 1rem;
}
main {
  padding: 20px;
}

.products h2 {
  text-align: center;
  margin-bottom: 20px;
}

.product-grid {
  display: grid;

 grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 20px;
}

.product-card {
  background-color: white;
  padding: 15px;
  border-radius: 8px;
  text-align: center;
  box-shadow: 0 2px 8px;
  transition: 0.2s;

}
.product-card:hover{
  transform: scale(1.05);
}

.product-card h3 {
  font-size: 1rem;
  margin: 10px 0 5px;
}

.product-card p {
  color: red;
  font-weight: bold;
}

.product-card button {
  background-color: #ffd814;
  border: 1px solid #fcd200;
  padding: 8px 12px;
  cursor: pointer;
  border-radius: 4px;
}

.product-card button:hover {
  background-color: #f7ca00;
}
footer {
  text-align: center;
  padding: 15px;
  background-color: #232f3e;
  color: white;
  margin-top: 40px;
}
nav{
  background-color: #232f3e;
  align-items: center;
  display: flex;
  justify-content: space-around;
  font-size: 40px;
  height: 100px;
}
div img{
    height: 190px;
}
.menuitem{
  text-decoration: none;
  color: #f7ca00;
  font-size: 30px;
  font-family: sans-serif;
  padding: 16px;
  background-color: #232f3e;
}
.menuitem:hover{
  text-decoration: underline;
}
@media(width<768px){
nav{
  flex-direction: column;
}
a{
  width: 100%;
}
}